.firm_form_dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: var(--purple-light);
}

.box_firm_body_title {
  padding: 4vh 7vh;
  width: 55vw;
  color: var(--white);
  background-color: var(--purple-light);
  box-shadow: 3px 3px rgba(184, 197, 235, 0.5);
  height: 12vh;
  border-radius: 50px 50px 0 0;
}

.box_firm_body {
  width: 55vw;
  display: flex;
  flex-direction: column;
  color: var(--purple-light);
  align-items: left;
  padding: 4vh 6vw;
  background-color: #fffdfe;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 3vh;
  height: auto;
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 3px rgba(184, 197, 235, 0.5);
}

.box_firm_body .small-input,
.box_firm_body .very-small-input {
  height: 4.5vh;
  border: #d9d9d9 solid 1px;
  padding: 8px;
  outline: none;
  color: #4e55ad;
}

.box_firm_body .small-input {
  width: 12vw;
  border-radius: 18px;
}

.box_firm_body .very-small-input {
  width: 2vw;
  border-radius: 15px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.logo_firm_block img {
  width: 15vw;
  height: auto;
}
.first_line_details {
  display: flex;
  flex-direction: row;
}
.first_line_text {
  display: flex;
  flex-direction: column;
}

.first_line_details .logo_firm_block {
  margin-left: 13vw;
}

.first_line_details .label {
  display: flex;
  flex-direction: row;
  width: 25vw;
}

.first_line_details .very-small-input {
  border-radius: 15px;
}

.first_line_details .small-input {
  border-radius: 18px;
}

.second_line_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fourth_line_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box_firm_footer button {
  border-radius: 20px;
  justify-content: space-around;
  border: none;
  box-shadow: 3px 3px rgb(147 169 235 / 50%);
  padding: 0.5rem;
  width: 10vw;
  margin-left: 7vw;
  background-color: var(--white);
  color: var(--purple-dark);
  cursor: pointer;
  margin-bottom: 2vh;
}
